:root {
    --teal: #F57C21;
    --teal_hover: #D96A1D; /* Une version légèrement plus foncée pour l'effet hover */
}

* {
    font-family: 'Poppins', sans-serif;
}

.h-font {
    font-family: 'Merienda', cursive;
}

/* hide input type number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.custum-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal);
}

.custum-bg:hover {
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom-alert{
    position: fixed;
    top: 80px;
    right: 25px;
    z-index: 1111;
}